VN7XCW_0927/VN7XCW_mozi.dtd

<!DOCTYPE mozi
[
<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo, szinesz, iro)>
<!ATTLIST film
    id CDATA #REQUIRED
    mufaj (horror | action | comedy) "horror">
<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
    id CDATA #REQUIRED
    nev CDATA #REQUIRED>
<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz
    id CDATA #REQUIRED
    nev CDATA #REQUIRED>
<!ELEMENT iro EMPTY>
<!ATTLIST iro id CDATA #REQUIRED>
]>